<% provide(:title, "FeeDBaCK for Colleagues") %>
<h1>FeeDBaCK for Colleagues</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>
        
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
        
        <%= f.submit "Find", class: "btn btn-primary" %>
        
        <% end %>
        
        <p>Don't see your colleague? <%= link_to "Create a page for them!", createuser_path %></p>
        
    </div>
</div>
